* {
    box-sizing: border-box;
}

#playlist {
  border: 4px solid black;
  border-collapse: collapse;
}

#playlist-head-row {
  background-color: #88A2AA; /* cadet grey */
}

#playlist-head-row th {
  font-size: 1.2em;
  border: none;
}

.track-title, .track-duration, .track-artist  {
  padding: 2px;
}

.track-title {
  background-color: #456990;
}

.track-duration {
  color: white;
  background-color: #114B5F;
}

.track-artist {
  color: white;
  background-color: #7E6B8F;
}

.track-select {
  color: #E4FDE1;
  padding: 0;
  background-color: transparent; 
  border: none;
}

.track-select:focus {
  outline: none;
}

.track-select:hover {
  color: red;
}

.track-select:active {
  font-weight: bold;
}

.track-duration {
  text-align: center;
}

.track-artist {
  font-style: italic;
  text-align: center;
}

#player-controls{  
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#artist-image {
  background-color: black;
  background-image: url("img/tosca.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  width: 200px;
  height: 200px;
  border: 4px solid black;
  margin: 5px;
}

.control-button {
  background-color: transparent; 
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  border: none;
  width: 64px;
  height: 64px;
}

.control-button:focus {
  outline: 0;
}

#play-button {
  background-image: url("img/play-normal.png"); 
}

#play-button:hover {
  background-image: url("img/play-hover.png");
}

#play-button:active {
  background-image: url("img/play-pressed.png");
}

#pause-button {
  background-image: url("img/pause-normal.png"); 
}

#pause-button:hover {
  background-image: url("img/pause-hover.png");
}

#pause-button:active {
  background-image: url("img/pause-pressed.png");
}
